{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
</head>
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'style.css' %}">
<style></style>
<body>
    <header class="header" id="header">
        <div class="header_content">                
            <div class="header_content-logo">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 250 160" height="100">
                    <text x="50%" y="50%" text-anchor="middle" dominant-baseline="middle">
                    BASE GUIDE                      
                    </text>
                </svg>
            </div>
            <div class="header_navigation">
                <nav class="menu_list">
                    <li class="menu_list-item">
                        <a class="menu_list-link" href="{% url "main:product_list" %}">ВСЕ ТОВАРЫ</a>
                    </li>
                    {% for category in categories %}
                        <li class ="menu_list-item">
                            <a class="menu_list-link" href="{{ category.get_absolute_url }}">{{ category.name }}</a>
                        </li>
                    {% endfor %}

                    <li class="menu_list-item">
                        <a class="menu_list-link" href="{% url 'basket:basket_detail' %}">Корзина({{ request.session.basket|length }})</a>
                    </li>
                </nav>
            </div>
        </div>
    </header>
    <section class="content">
        {% block content %}
        {% endblock content %}
    </section>
    <footer class="footer">
        <div class="footer_content-item">
            <p>&copy; 2024 Shop</p> 
        </div>
    </footer>
<script src="{% static 'js/dropdown.js' %}"></script>
</body>
</html>